.title {
    font-size: 1.5em;

}
.show-input {
    cursor: pointer;
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    .container-button-add {
        border: 2px solid rgb(197, 197, 197);
        border-radius: 15px;
        text-align: center;
        color: rgb(177, 177, 177);
        padding: 10px;
    }
}

.form-input {
    width: 70%;
    margin-right: 20px;
    border-radius: 10px;
    border: 1.5px solid #81b8c0;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;

}
.input-task {
    margin: 0 auto;
}

.row-task-list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.checklist {
    width: auto;
}
.list-of-task{
    max-width: 70%;
    margin: 0 auto;
    padding: 10px;
}
.trash-btn {
    color: rgb(204, 32, 32);
}
.list-of-done {
    text-decoration: line-through;
    color: rgb(139, 139, 139);
}
.container-list-of-done {
    width: 70%;
    margin: 0 auto;
    border: #000;
    padding: 20px;
}
.title-list-done {
    font-size: 1.5em;
    font-weight: 600;
}
.container-todo {
    width: 70%;
    margin: 0 auto;
    height: auto;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: -3px 2px 25px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: -3px 2px 25px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 2px 25px -10px rgba(0,0,0,0.75);
}
@media (max-width: 768px){
	.list-of-task{
        width: auto;
        margin: 0 auto;
        padding: 10px;
    }
    .form-input {
        width: 90%;
        border-radius: 10px;
        border: 1.5px solid #81b8c0;
        padding: 10px;
        margin-bottom: 20px;
        border: 1.5px solid #81b8c0;
    }
    .add-button {
        width: 100%;
    }
    .input-task {
        padding: 20px;
    }
}
.title-list {
    font-size: 1.5em;
    font-weight: 600;
}